<div class="home-wrap">
  <app-nav></app-nav>
  <div class="container">
    <div class="main-head row">
      <div class="col-md-6 main-content">
        <h1 id="extra">Hello World <span class="blink">!</span></h1>
        <p>Welcome to our Coding Challenge platform! Feel free to browser our problems and submit your coding solution! Also, please make sure to add your contact information (and resume) so we can reach out to you for our open engineering positions.</p>
        <p>We are looking for engineers that enjoy solving problems using code. Welcome aboard!</p>
        <div class="primary-button">
          <span>Browse Challenges</span>
          <i class="fa fa-angle-double-right" aria-hidden="true"></i>
        </div>
      </div>
      <div class="col-md-6 user-content">
        <div class="user-signup">
          <h3 id="muted">Register</h3>
          <span>Username</span>
          <input type="text" name="" placeholder="Pick a Username">
          <span>Email</span>
          <input type="email" name="" placeholder="Your Email">
          <span>Password</span>
          <input type="password" name="" placeholder="Password">
          <span>Use at least one letter, one numeral, and seven characters.</span>
          <div class="primary-button">
            <span>Sign Up</span>
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
